@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    /* A cada 1rem será considerado 10px*/
    font-size:62.5%;
}

html,
body{
    height: 100vh;
    font-family: monospace;
    background: #130f0d;
}

.container{
    /* Altura e largura */
    width: 100vw;
    height: 100vh;

    /* Alinhamento */
    display: flex;
    align-items:center; /* Vertical */
    justify-content: center; /* Horizontal */
}

.form{
    width: 90%;
    max-width: 700px;
    height:85%;
    max-height: 500px;

    /* Centralização dos filhos */
    display: flex;
    align-items:center; 
    justify-content: center;
    flex-direction: column;

    /* Borda */
    /*border: 1px solid red;*/
}

.msg{
    width: 80vw;
    height:10vh;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: left;

    margin-bottom: 5px;

    /*border: 1px solid red;*/
}

.msg h1{
    font-size:4.6rem;
    color: #FFFFFF;
}

form{
    width: 80vw;
    height: 55vh;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background:rgba(255, 255, 255, 0.03);
    border-radius: 10px;

    /*border: 1px solid red;*/
}

.input-field{
    width: 80%;
    height: 5rem;

    margin-bottom: 4rem;

    position: relative;

    /*border: 1px solid red*/
}

.input-field label{
    font-size: 1.8rem;

    color: rgba(255, 255, 255, 0.6);

    position: absolute;

    top:10px;
    left:5px;
    
    transition: .1s linear;
}

.input-field input:hover + label,
.input-field input:valid + label {
    font-size:1.6rem;
    top: -16px;
    color: rgba(248,248,255);
}

.input-data{
    min-width: 100%;
    min-height: 80%;

    font-size: 1.6rem;
    font-family: Poppins;
    padding-left: 0.5rem;
    color: white;

    text-decoration: none;
    outline:none;
    border-style: none;
    border-bottom:1px solid rgba(248, 248, 255);
    background-color: transparent;
}

.btn-cad{
    width: 22rem;
    height: 3rem;

    font-weight: 700;
    font-family: Poppins;

    color: #FFFFFF;
    border-style: none;
    border-radius:4px;
    background:linear-gradient(to bottom left, #363636,	#808080 );
}

.btn-cad:hover{
    color: #130f0d;
    background: #FFFFFF;
  }
