*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #000000; 
  height: 100vh; /* height = altura */
  display: flex;
  align-items:center;
  justify-content: center;
}

.form{
  width: 40vw;
  height: 50vh;

  font-family: monospace;
  color: #FFFFFF;
  background:#1C1C1C;
}